@using WebApplication1.Models;
@model IEnumerable<WebApplication1.Models.DONDATHANG>
@{
    ViewBag.Title = "Quan Lý Đơn Hàng";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Quản lý đơn hàng</h2>
<br />
@{
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Thời điểm đặt</th>
                            <th>Ngày giao dự kiến</th>
                            <th>Tổng tiền</th>
                            <th>NV duyệt</th>
                            <th>Đã giao</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="active">
                                <td>
                                    @item.MaDDH
                                </td>
                                <td>
                                    @item.ThoiDiemDat
                                </td>
                                <td>
                                    @item.NgayGiaoDuKien
                                </td>
                                <td>
                                    @item.TongTien
                                </td>
                                <td>
                                    @item.MaNV
                                </td>
                                <td>
                                    @item.TinhTrangGiaoHang
                                </td>
                                <td class="center" style="color:red">
                                    @*<a style="color:red" href="@Url.Action("DuyetDonHang","QuanLyDonHang", new {@MaDDH = @item.MaDDH, @MaNV = })">
                                        Duyệt
                                    </a>*@
                                    


                                </td>
                                <td class="center">
                                    <a style="color:red" href="@Url.Action("XemThem","QuanLyDonHang", new {@id = @item.MaDDH}) ">
                                        Chi tiết
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}