@using WebApplication1.Models;
@model IEnumerable<WebApplication1.Models.NGUOIDUNG>
@{
    ViewBag.Title = "Quan Lý Người Dùng";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Quản lý người dùng</h2>
<br />
@{
    @Html.ActionLink("Thêm người dùng", "ThemNguoiDung", null, new { @class = "btn btn-success" })
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã người dùng</th>
                            <th>Họ Tên</th>
                            <th>Giới tính</th>
                            <th>Số điện thoại</th>
                            <th>Trạng thái</th>
                            <th></th>
                                <th> </th>
                                <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="active">
                                <td>
                                    @item.MaNguoiDung
                                </td>
                                <td>
                                    @item.Ho @item.TenLot @item.Ten
                                </td>
                                <td>
                                    @item.GioiTinh
                                </td>
                                <td>
                                    @item.SoDienThoai
                                </td>
                                <td>
                                    @item.TrangThai
                                </td>                              
                                
                                <td class="center">
                                      <a style="color:red" href="@Url.Action("CapNhatThongTinNguoiDung","QuanLyNguoiDung", new {@id = @item.MaNguoiDung}) ">
                                           Sửa
                                      </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}