

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<center>
    <h2>Danh sách các database trong server này</h2>
    <a href="@Url.Action("Insert","Home")" class="btn btn-success">Thêm</a>
    <a href="@Url.Action("DisConnect","Home")" class="btn btn-success">Ngắt kết nối</a>
    <a href="@Url.Action("Index","QuanLyNguoiDung")" class="btn btn-success">Quản lý người dùng</a>
    <a href="@Url.Action("Index","QuanLyDonHang")" class="btn btn-success">Quản lý đơn hàng</a>

</center>
<h3>Chỗ này show ra sản phẩm cho đẹp, còn thời gian sẽ làm</h3>
@*<table class="table table-bordered table-bordered">
    <thead>
      <tr>
        <td>ID</td>
        <td>TenSP</td>
        <td>Công Cụ</td>
      </tr>
    </thead>

    <tbody>*@


@*@if (Model.Any())
    {
      foreach (var item in Model)
      {
        <tr>
          <td>@item.MaSP</td>
          <td>@item.TenSP</td>
          <td><a href="@Url.Action("Update", "test", new WebApplication1.Models.SanPham { MaSP=item.MaSP,TenSP=item.TenSP})" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i></a> | <a href="/test/Delete/@item.MaSP" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td>
        </tr>
      }
    }
    else
    {
      <tr>
        <td colspan="2">Chưa có sản phẩm nào</td>
      </tr>
    }*@


@*</tbody>
    </table>*@
@section scripts{
    <script>
    $(function () {
         var value1 = '@TempData["results"]';
      if (value1 != '')
      {
        toastr.info(value1);
      }
      var value = '@TempData["result"]';
      if (value != '') {
        toastr.info(value);
      }

    });
    </script>
}
