@using WebApplication1.Models;
@model IEnumerable<WebApplication1.Models.SANPHAM>
@{
    ViewBag.Title = "Quan Lý Sản Phẩm";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Quản lý Sản Phẩm</h2>
<br />
@{
    @Html.ActionLink("Thêm sản phẩm", "TaoMoi", null, new { @class = "btn btn-success" })
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="active">
                                <td>
                                    @item.MaSP
                                </td>
                                <td>
                                    @item.TenSP
                                </td>
                                <td>
                                    @Html.Raw("<img width=\"200\" height=\"100\" src=\"../Content/HinhAnhSP/" + item.HinhAnh + "\">")
                                </td>                              
                                
                                                                
                                <td class="center">
                                    <a style="color:red" href="@Url.Action("ChinhSua","QuanLySanPham", new {@id = @item.MaSP}) ">
                                        Chỉnh sửa
                                    </a>
                                </td>
                                <td class="center">
                                    <a style="color:red" href="@Url.Action("XoaTamThoiSanPham","QuanLySanPham", new {@id = @item.MaSP}) ">
                                        Xóa tạm thời
                                    </a>
                                </td>
                                <td class="center">
                                    <a style="color:red" href="@Url.Action("XoaHoanToanSanPham","QuanLySanPham", new {@id = @item.MaSP}) ">
                                        Xóa hoàn toàn
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
